#form {
    height: 220px;
    max-width: 750px;
    z-index: 20;
    position: relative;
    top: -217px;
    h3 {
        font-size: 1.3em;
        font-weight: 400;
        text-align: center;
    }
    form {
        padding-left: 40px;
        
        input {
            width: 90%;
            height: 30px;
            border-top: none;
            border-left: none;
            border-right: none;
            }
            #bottom{
                min-height: 30px;
                 #message {
                    margin-block-end: 0%;
                    width: 50%;
                    margin-top: 10px;
                }
            }
            #send {
                width: 60px;
                margin-left: 85%;
                padding-left: 0;
                margin-block-start: 0px;
            }
        }
    }

::placeholder {
    color: $header-color;
    font-size: 1.5em;
}

.invalid {
    border-bottom: red solid 3px;
}