@import '_colors.scss';
@import '_data.scss';
@import '_form.scss';
@import '_post.scss';
@import 'slides.scss';

body {
    font-family: 'Roboto';
    position: absolute;
    width: 100%;
}

main {
    height: 100%;
    margin-top: 200px;
}

.flex {
    display: flex;
}

.gray {
    color: $dark-gray-color;
}

.blue {
    color: $header-color;
}
.padded {
    padding-left: 20px;
}
.pad10 {
    padding-left: 10px;
}
.red {
    color: red;
}
.hidden {
    display: none;
}
.button {
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}

.opacity {
    opacity: 0.3;
}