@import '_colors.scss';
@import '_data.scss';
@import '_form.scss';

body {
    font-family: 'Roboto';
    position: absolute;
    width: 100%;
}

main {
    height: 100%;
    margin-top: 200px;
}

.flex {
    display: flex;
}

.gray {
    color: $dark-gray-color;
}

.post {
    max-width: 875px;
    min-width: 734px;
    height: 300px;
    border: solid 1px $border-color;
    box-shadow: 2px 3px 3px $subtitle-color;
    margin: auto;
    background-color: white;

        .image {
            width: 40%;
            position: relative;
            img {
                height: 100%;
                width: 100%;
            }
            .tag {
                color: white;
                font-weight: 500;
                font-size: 1.1em;
                background-color: $tag-color;
                z-index: 10;
                position: absolute;
                top: 10px;
                left: 0px;
                height: 30px;
                width: 170px;
                text-align: center;
                padding-top: 7px;
            }
            .fa-stack{
                z-index: 10;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        } 
  }
.blue {
    color: $header-color;
}
.padded {
    padding-left: 20px;
}
.pad10 {
    padding-left: 10px;
}
.red {
    color: red;
}
.hidden {
    display: none;
}
.button {
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}

.opacity {
    opacity: 0.3;
}

.slideshow-container {
    height: 100%;
}

.mySlides {
    display: none;
    height: 100%;
    img {
        height: 100%;
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }